body{
    background-color:#bff2cd;
    background-image: url("../img/wallpaper.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.iform{
    margin-left: 30%;
    margin-right: 30%;
    margin-top:30px;
    margin-bottom:30px;
    padding: 30px;
    background-color: white;
    opacity:95%;

    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
    
    text-align :center;
    
    @media only screen and (max-width:1100px) {
        /* For mobile phones: */
            margin-left: 1%;
            margin-right: 1%;
            font-size: 10px;
 
            input
            {
                font-size: 10px;
                
            }
            h3 , .btn{
                font-size: 20px;
            }
            p,a{
                font-size:12px;
            }
            

            }

    }


.font1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: rgb(20, 20, 20);

}
.font2{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    color:rgb(88, 88, 88);
}
ul{
        line-height: 13px; 
        margin-left: 0px;
        align-items:left;
        padding-left:10px;
}

input{
    border: none;
    border-bottom: 2px solid green;

    
}

.forget{
    color:#30251f;

    &:hover{
        text-decoration: none;
        color:#993600;
    }
}

.redirect{
    color:#237c00;

    &:hover{
        text-decoration: none;
        color:#0071bd;
    }
}

